:root {
  --soft-pink: #FAD4D8;
  --deep-pink: #E67882;
  --teal: #2AB7B0;
  --light-gray: #F2F2F2;
  --charcoal: #333333;
  --barlow: 'Barlow Condensed', sans-serif;
}
body {
  margin: 0;
  padding: 0;
 background-color: var(--soft-pink);
 font-family: var(--barlow);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.error-container {
  text-align: center;
  font-family: Arial, sans-serif;
  color: white;
  background-color: #ff4d6d; /* Light red */
  padding: 50px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-container h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.error-container p {
  font-size: 18px;
}

